nextflow.enable.dsl=2

conda {
    enabled = true
}

process {

   executor = 'slurm'

   queue = 'bbg_cpu_zen4,irb_cpu_zen4'

   errorStrategy = 'retry'
   maxRetries = 4

    cpus = 10
    memory = '14 GB'
    time = '2h'
}

singularity {
   cacheDir = '/data/bbg/datasets/pipelines/nextflow_containers'
   libraryDir = '/data/bbg/datasets/pipelines/nextflow_containers'
   autoMounts = true
   runOptions = '-B /data/bbg'
}