nextflow.enable.dsl=2

conda {
    enabled = true
}

process {

   executor = "slurm"

   queue = "bbg_cpu_zen4,irb_cpu_zen4"

   errorStrategy = "retry"
   maxRetries = 4

    cpus = 10
    memory = "14 GB"
    time = "2h"
}

singularity {
    enabled = true
    cacheDir = "/data/bbg/datasets/pipelines/nextflow_containers"
    libraryDir = "/data/bbg/datasets/pipelines/nextflow_containers"
    autoMounts = true
    runOptions = "-B /data/bbg"
}
params {

    // ============================= Shared parameters =============================

    outdir = "${projectDir}/output"

    cpus = 14

    project_name = "test"

    // ============================= IP_MM =============================

    // metadata_ip_mm = "${projectDir}/input/input_preparation/mutational_matrices/metadata_ip_mm.csv"
    // ======= testing metadatas =======
    // metadata_ip_mm = "${projectDir}/../pruebas_pamsr/metadata_autopsy.csv"
    metadata_ip_mm = "${projectDir}/../pruebas_pamsr/metadata_blood.csv"
    // metadata_ip_mm = "${projectDir}/../pruebas_pamsr/metadata_blood_treated.csv"
    // metadata_ip_mm = "${projectDir}/../pruebas_pamsr/metadata_blood_untreated.csv"
    // metadata_ip_mm = "${projectDir}/../pamsr/pruebas_pamsr/metadata_colon.csv"
    // metadata_ip_mm = "${projectDir}/../pamsr/pruebas_pamsr/metadata_kidney.csv"

    metadata_delim = "csv"

    // samplesheet_ip_mm = "${projectDir}/input/input_preparation/mutational_matrices/samplesheet_ip_mm.csv"
    // ======= sample sheets =======
    // samplesheet_ip_mm = "${projectDir}/../pruebas_pamsr/samplesheet_autopsy_ip_mm.csv"
    samplesheet_ip_mm = "${projectDir}/../pruebas_pamsr/samplesheet_blood_ip_mm.csv"
    // samplesheet_ip_mm = "${projectDir}/../pruebas_pamsr/samplesheet_colon_ip_mm.csv"
    // samplesheet_ip_mm = "${projectDir}/../pruebas_pamsr/samplesheet_kidney_ip_mm.csv"

    samplesheet_delim = "csv"

    // ============================= IP_TR =============================

    metadata_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/metadata_ip_tr.csv"
    metadata_delim = "csv"

    // samplesheet_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/samplesheet_blood_ip_tr.csv"
    samplesheet_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/samplesheet_blood_treated_ip_tr.csv"
    // samplesheet_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/samplesheet_blood_untreated_ip_tr.csv"
    // samplesheet_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/samplesheet_colon_ip_tr.csv"
    // samplesheet_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/samplesheet_autopsy_ip_tr.csv"
    // samplesheet_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/samplesheet_kidney_ip_tr.csv"

    samplesheet_delim = "csv"

    target_signature_eliminate_reconstruction = "SBS31"

    // ============================= SPA =============================

    genome_assembly = "GRCh38"
    sigprofiler_args = ""
    reference_signatures_spa =  "${projectDir}/input/signature_extraction/reference_signatures/COSMIC_v3_6_SBS_GRCh38.txt"

    // ============================= Synthetic data + Signature Injection =============================

    synthetic_N = 100
    n_duplicates = 10
    // injected_mutations = [10, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1500, 2000, 2500, 3000]
    injected_mutations = [10, 1000, 5000, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000]
    target_signature_injection = "SBS31"
    reference_signatures_gsd =  "${projectDir}/input/signature_extraction/reference_signatures/COSMIC_v3_6_SBS_GRCh38.txt"

    // ============================= Power analysis =============================

    target_signature_pa = "SBS31"
    injection_seed = 1000
    reference_signatures_pa =  "${projectDir}/input/signature_extraction/reference_signatures/COSMIC_v3_6_SBS_GRCh38.txt"
    background_signatures = ["SBS7d", "SBS7a", "SBS84", "SBS1", "SBS89", "SBS96", "SBS30", "SBS100", "SBS40a", "SBS31", "SBS5"]
    target_signature_compare_exposures = "SBS35"
    alpha_threshold_p_value_rate_pa = 0.05
    alpha_threshold_log_regression_pa = 0.05
    stat_loglh = "median"
    top_n_signatures_heatmap = 15
}

