nextflow.enable.dsl=2

conda {
    enabled = true
}

process {

   executor = "slurm"

   queue = "bbg_cpu_zen4,irb_cpu_zen4"

   errorStrategy = "retry"
   maxRetries = 4

    cpus = 10
    memory = "14 GB"
    time = "2h"
}

singularity {
    enabled = true
    cacheDir = "/data/bbg/datasets/pipelines/nextflow_containers"
    libraryDir = "/data/bbg/datasets/pipelines/nextflow_containers"
    autoMounts = true
    runOptions = "-B /data/bbg"
}
params {

    // ============================= Shared parameters =============================

    outdir = "${projectDir}/output"

    cpus = 12

    project_name = "test"

    // ============================= IP =============================

    metadata_ip_mm = "${projectDir}/input/input_preparation/mutational_matrices/metadata_ip_mm.csv"
    metadata_delim = "csv"

    samplesheet_ip_mm = "${projectDir}/input/input_preparation/mutational_matrices/samplesheet_ip_mm.csv"
    samplesheet_delim = "csv"


    // ============================= IRP =============================

    metadata_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/metadata_ip_tr.csv"
    metadata_delim = "csv"

    samplesheet_ip_tr = "${projectDir}/input/input_preparation/tuned_reconstruction/samplesheet_ip_tr.csv"
    samplesheet_delim = "csv"

    // ============================= SPA =============================

    genome_assembly = "GRCh38"
    sigprofiler_args = ""
    reference_signatures_spa =  "${projectDir}/input/signature_extraction/reference_signatures/COSMIC_v3_6_SBS_GRCh38.txt"

    // ============================= Synthetic data + Signature Injection =============================

    synthetic_N = 3
    n_duplicates = 2
    injected_mutations = [10, 100, 200, 300, 400, 500, 700]
    target_signature_injection = "SBS1"
    reference_signatures_gsd =  "${projectDir}/input/signature_extraction/reference_signatures/COSMIC_v3_6_SBS_GRCh38.txt"

    // ============================= Power analysis =============================

    target_signature_pa = "SBS1"
    injection_seed = 1000
    reference_signatures_pa =  "${projectDir}/input/signature_extraction/reference_signatures/COSMIC_v3_6_SBS_GRCh38.txt"
}

